name: package

on:
  workflow_dispatch:
    inputs:
      google:
        required: false
        type: boolean
        default: false
  release:
    types: [published]

permissions: {}

env:
  container: ${{ github.repository }}/nginx

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          set-safe-directory: ${{ github.workspace }}
          token: ${{ github.token }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          provenance: false
          push: true
          tags: ghcr.io/${{ env.container }}:${{ github.event_name == 'release' && github.event.release.tag_name || 'latest' }}-${{ matrix.arch }}
          target: module
      - if: ${{ inputs.google }}
        name: Build and push for Google example
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          provenance: false
          push: true
          tags: ghcr.io/${{ env.container }}:google-${{ matrix.arch }}
          target: google
    timeout-minutes: 30
    strategy:
      matrix:
        arch: [amd64, arm64]

  index:
    permissions:
      contents: read
      packages: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and push
        run: |
          docker buildx imagetools create \
            -t "${CONTAINER}:${TAG}" \
            "${CONTAINER}:${TAG}-amd64" \
            "${CONTAINER}:${TAG}-arm64"
        env:
          CONTAINER: ghcr.io/${{ env.container }}
          TAG: ${{ github.event_name == 'release' && github.event.release.tag_name || 'latest' }}
      - if: ${{ inputs.google }}
        name: Build and push for Google example
        run: |
          docker buildx imagetools create \
            -t "${CONTAINER}:${TAG}" \
            "${CONTAINER}:${TAG}-amd64" \
            "${CONTAINER}:${TAG}-arm64"
        env:
          CONTAINER: ghcr.io/${{ env.container }}
          TAG: google
      - name: Clean up
        uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 #v1.0.16
        with:
          owner: ${{ github.actor }}
          package: ${{ github.event.repository.name }}/nginx
          token: ${{ github.token }}
          keep-n-untagged: 0
        continue-on-error: true
    timeout-minutes: 30
